<div class="container">
	<div class="row">


		<!-- エラーメッセージ -->

		<% if @user.errors.any? %>
		<h4>
			<%= @user.errors.count %> error prohibited this obj from being saved:
		</h4>
		<div id="error_explanation" class="alert alert-danger">
			<% @user.errors.full_messages.each do |message| %>
			<p><%= message %></p>
			<% end %>
		</div>
		<% end %>



		<% if current_user.manager == false %>


		<!-- ユーザー用の表示 --->

		<div class="edit_user">

				<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-6 form-group">
						<h2 class="page-title-1">ユーザー情報の編集</h2>

						<%= form_for(@user) do |f| %>

						<div class="field">
							<%= f.label :名前 %><br />
							<%= f.text_field :name, autofocus: true, autocomplete: "name",placeholder:"山田太郎",class: "form-control" %>
						</div>

						<div class="field">
							<%= f.label :名前（カナ） %><br />
							<%= f.text_field :name_kana, autofucus: true, autocomplete: "name_kana",placeholder:"ヤマダタロウ",class: "form-control" %>
						</div>

						<div class="field">
							<%= f.label :メールアドレス %><br />
							<%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"xxxxxxx@xxxxxxx",class: "form-control" %>
						</div><br>

						<div class="field form_group has_icon">
							<label for="password"> パスワード </label>
							&emsp;&emsp;＊＊＊＊＊＊<%= link_to "パスワード編集", passchange_path(current_user), class: "user_passchange btn btn-secondary" %>
							<span class="fa fa-user form-control-icon" aria-hidden="true"></span>
						</div><br>


						<div class="field">
							<%= f.label :電話番号 %><br />
							<%= f.text_field :tell, autofocus: true, autocomplete: "tell" ,placeholder:"00000000000 ※ハイフン無しで入力",class: "form-control" %>
						</div>

						<div class="field">
							<%= f.label :郵便番号 %><br />
							<%= f.text_field :post_code, autofocus: true, autocomplete: "post_code",placeholder:"0000000 ※ハイフン無しで入力",class: "form-control" %>
						</div>

						<div class="field">
							<%= f.label :住所 %><br />
							<%= f.text_area :address, autofocus: true, autocomplete: "address",placeholder:"東京都xx区xxx0丁目000-00 xxxxxxx00号",class: "form-control"  %>
						</div>

						<p></p>

						<div class="actions">
							<%= f.submit "編集を保存する", class: "btn btn-success btn-block" %>
						</div>
						<% end %>

					</div>
					<div class="col-md-3">
					</div>
			</div>




			<!-- 管理者用の表示 -->

			<% else %>
			<h2> ユーザー編集</h2>

			<%= form_for(@user) do |f| %>
			<div class="edit_user">
				<table class="table">
					<tbody>
						<tr>
							<td>名前</td>
							<td><%= @user.name %></td>
						</tr>
						<tr>
							<td>名前（カナ）</td>
							<td><%= @user.name_kana %></td>
						</tr>
						<tr>
							<td>メールアドレス</td>
							<td><%= @user.email %></td>
						</tr>
						<tr>
							<td>電話番号</td>
							<td><%= @user.tell %></td>
						</tr>
						<tr>
							<td>住所</td>
							<td><%= @user.post_code %><br><%= @user.address %></td>
						</tr>
						<tr class="form_group">
							<td><%= f.label :point, "保有ポイント" %></td>
							<td><%= f.text_field :point, class: "point" %></td>
						</tr>
						<tr class="form_group">
							<td><%= f.label :memo, "備考" %></td>
							<td><%= f.text_area :memo, class: "memo" %></td>
						</tr>
					</tbody>
				</table>
			</div>


			<%= f.submit "編集保存", class: "btn btn-success user-button" %>
			<% if @user.id == 1 || @user.deleted_at != nil %>
			<% else %>
			<%= link_to "退会させる", user_path(@user), method: :delete, data: { confirm: 'このユーザーを本当に退会させますか？'}, class: "btn btn-danger user-button" %>
			<% end %>
			<%= link_to 'back', user_path, class: "btn btn-info user-button" %>
			<% end %>
			<% end %>
		</div>
	</div>