<div class="container">
	<div class="row">
		<h1>User一覧</h1>
		<table class="table table-hover">
			<thead>
				<th>user name</th>
				<th>points</th>
				<th>status</th>
				<th>memo</th>
				<th></th>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= user.name %></td>
						<td><%= user.point %> p</td>
						<td>
							<% if user.deleted_at.blank? %>
								<p>公開中</p>
							<% else %>
								<p>非公開（退会済み）</p>
							<% end %>
						</td>
						<td><%= user.memo %></td>
						<td><%= link_to "会員情報確認", user, class: "btn btn-info btn-xs" %></td>
					</tr>
				<% end %>
				<hr />
			</tbody>
		</table>
			<%= paginate @users %>
	</div>
</div>