<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-6">
			<h2>user info</h2>
			<table class="table tabel-hover">
				<tbody>
					<tr>
						<td>名前</td>
						<td><%= @user.name %></td>
					</tr>
					<tr>
						<td>名前（カナ）</td>
						<td><%= @user.name_kana%></td>
					</tr>
					<tr>
						<td>メールアドレス</td>
						<td><%= @user.email %></td>
					</tr>
					<tr>
						<td>電話番号</td>
						<td><%= @user.tell %></td>
					</tr>
					<tr>
						<td>住所</td>
						<td><%= @user.post_code %><br><%= @user.address %></td>
					</tr>
					<tr>
						<td>ポイント</td>
						<td><%= @user.point %></td>
					</tr>
					<% if current_user.manager == true %>
					<tr>
						<td>備考</td>
						<td><%= @user.memo %></td>
					</tr>
					<tr>
						<td>ステータス</td>
						<td>
							<% if @user.deleted_at.blank? %>
							<p> 公開中</p>
							<% else %>
							<p> 非公開（退会済み）</p>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<%= link_to "編集", edit_user_path, class: "btn btn-success" %><br><br>

			<% if current_user.manager == false %>
			<%= link_to "退会", users_path, method: :delete, data: { confirm: '本当に退会しますか？'}, class: "btn btn-danger" %>
			<% else %>
			<% end %>



		</div>
	</div>
</div>

<br>

<!--    購入履歴一覧    -->

<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h3>購入履歴一覧</h3>
			<table class="table table-hover">
				<thead>
					<th>購入日時</th>
					<th>購入金額</th>
					<th>
						<% if current_user.manager %>
						ステータス
						<% end %>
					</th>
					<th></th>
					<th></th>
				</thead>


				<tbody>
					
						 <tr>
						 	<% @purchases.each do |purchase| %>
							<td>
								<%= purchase.date.year %> 年
								<%= purchase.date.month %> 月
								<%= purchase.date.day %> 日
							</td>
							<td><%= purchase.pur_total%></td>
							<td>
								<% if current_user.manager %>
									<% if purchase.status == 0 %>
										未処理
									<% elsif purchase.status == 1 %>
										準備中
									<% elsif purchase.status == 2 %>
										発送済み
									<% end %>
								<% end %>
							</td>
							<td><%= link_to "show",purchase_path(purchase.id),class: "btn btn-info" %></td>
							<% end %>
							<td><%= @reviews %></td>
						</tr>
					
					
				</tbody>
			</table>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
