<h2>user info</h2>
<div>
	<p><%= @user.name %></p>
	<p><%= @user.email %></p>
	<p><%= @user.tell %></p>
	<p><%= @user.post_code %></p>
	<p><%= @user.address %></p>
	<p><%= @user.point %></p>
	<% if current_user.manager == false %>
		<%= link_to "編集", edit_user_path, class: "btn btn-success" %>
		<%= link_to "退会", "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
	<% end %>
</div>
<div>
	<h3>購入履歴一覧</h3>
	<table class="table table-hover">
		<thead>
			<th>購入日時</th>
			<th>購入金額</th>
			<th>
				<% if current_user.manager == false %>
					-
				<% else %>
					ステータス
				<% end %>
			</th>
			<th></th>
		</thead>

		<tbody>
			<% @purchases.each do |purchse| %>
				<tr>
					<td><%= purchase.date %></td>
					<td><%= purchase.pur_total %></td>
					<td><p>ステータス表示</p></td>
					<td><%= link_to "show", purchase_path, class: "btn btn-info" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
