<h1>受注管理（一覧）ページ</h1>

<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h1>会員数<%= @user_all -1 %>人！！！！！！     売り上げ<%= @pur_total_sum %>円！！！！！！！</h1>
			<table class="table table-hover">
				<thead>
					<th>購入者</th>
					<th>購入日時</th>
					<th>ステータス</th>
					<th></th>
				</thead>


				<tbody>
					<% @purchases.each do |purchase| %>

							<tr>
								<td><%= purchase.pur_name %></td>
								<td>
									<%= purchase.date.year %> 年
									<%= purchase.date.month %> 月
									<%= purchase.date.day %> 日
								</td>
								<td><%= purchase.status_i18n %></td>
								<td><%= link_to "show",purchase_path(purchase.id),class: "btn btn-info" %></td>
							</tr>
					<% end %>
				</tbody>

			</table>
			<%= link_to "未処理",purchase_untreat_path(0), method: :patch %>
			<%= link_to "準備中",purchase_prepare_path(1),method: :patch %>
			<%= link_to "発送済",purchase_sent_path(2),method: :patch %>
  		</div>
 	</div>
</div>