<div class="container">

	<!------ 会員数・売上高報告 ------>
	<div class="row">
		<div class="col-md-6">
			<p class="report">MEMBERS : <%= @user_all -1 %> </p>
		</div>
		<div class="col-md-6">
			<p class="report">SALES : 
				￥<%= number_with_delimiter(@pur_total_sum.to_i)  %></p>
		</div>
	</div>

    <!------ purchase_status別ボタン ------>
	<div class="row">
		<div class="col-md-9">
			<h3>受注一覧表</h3>
		</div>
	    <div id="tab-menu" class="col-md-3 clearfix" >
	        <a href="#tab-all" class="active btn btn-sm btn-default">ALL</a>
	        <a href="#tab-0" class="btn btn-sm btn-danger">未処理</a>
	        <a href="#tab-1" class="btn btn-sm btn-warning">準備中</a>
	        <a href="#tab-2" class="btn btn-sm btn-info">発送済</a>
        </div>
    </div>

	<div id="tab-contents">
		<!------ 受注一覧表 (all)------>
		<table id="tab-all" class="table tab">
			<thead>
				<tr>
					<th>購入者</th>
					<th>注文合計金額</th>
					<th>購入日時</th>
					<th>ステータス</th>
					<th></th>
				</tr>

			</thead>
			<% @purchases.each do |purchase| %>
		    <% if purchase.status == 0 %>
		        <tbody style="background-color:orangered;">
			<% elsif purchase.status == 1 %>
		        <tbody style="background-color:yellow;">
		    <% elsif purchase.status == 2 %>
		        <tbody style="background-color:aliceblue;" >
		    <%end%>
				<tr>
					<td><%= User.find_by(id: purchase.user_id).name %></td>
					<td>
						￥<%= number_with_delimiter(purchase.pur_total.to_i )  %>
					</td>
					<td>
						<%= purchase.date.year %> 年
						<%= purchase.date.month %> 月
						<%= purchase.date.day %> 日
					</td>
					<td>
						<% if purchase.status == 0 %>
						未処理
						<% elsif purchase.status == 1 %>
						準備中
						<% elsif purchase.status == 2 %>
						発送済
						<% end %>
					</td>
					<td>
						<%= link_to "詳細確認",purchase_path(purchase.id),class: "btn btn-default btn-xs" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<!------ 受注一覧表 (未処理)------>
		<table id="tab-0" class="table table-hover tab">
			<thead>
				<tr>
					<th>購入者</th>
					<th>注文合計金額</th>
					<th>購入日時</th>
					<th>ステータス</th>
					<th></th>
				</tr>
			</thead>
			<tbody style="background-color:orangered;">
				<% @purchases_0.each do |purchase| %>
				<tr>
					<td><%= User.find_by(id: purchase.user_id).name %></td>
					<td>
						￥<%= number_with_delimiter(purchase.pur_total.to_i )  %>
					</td>
					<td>
						<%= purchase.date.year %> 年
						<%= purchase.date.month %> 月
						<%= purchase.date.day %> 日
					</td>
					<td>
						<% if purchase.status == 0 %>
						未処理
						<% elsif purchase.status == 1 %>
						準備中
						<% elsif purchase.status == 2 %>
						発送済
						<% end %>
					</td>
					<td><%= link_to "詳細確認",purchase_path(purchase.id),class: "btn btn-default btn-xs" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<!------ 受注一覧表 (準備中)------>
		<table id="tab-1" class="table table-hover tab">
			<thead>
				<tr>
					<th>購入者</th>
					<th>注文合計金額</th>
					<th>購入日時</th>
					<th>ステータス</th>
					<th></th>
				</tr>
			</thead>
			<tbody style="background-color:yellow;">
				<% @purchases_1.each do |purchase| %>
				<tr>
					<td><%= User.find_by(id: purchase.user_id).name %></td>
					<td>
						￥<%= number_with_delimiter(purchase.pur_total.to_i)  %>
					</td>
					<td>
						<%= purchase.date.year %> 年
						<%= purchase.date.month %> 月
						<%= purchase.date.day %> 日
					</td>
					<td>
						<% if purchase.status == 0 %>
						未処理
						<% elsif purchase.status == 1 %>
						準備中
						<% elsif purchase.status == 2 %>
						発送済
						<% end %>
					</td>
					<td><%= link_to "詳細確認",purchase_path(purchase.id),class: "btn btn-default btn-xs" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<!------ 受注一覧表 (配送済)------>
		<table id="tab-2" class="table table-hover tab">
			<thead>
				<tr>
					<th>購入者</th>
					<th>注文合計金額</th>
					<th>購入日時</th>
					<th>ステータス</th>
					<th></th>
				</tr>
			</thead>
			<tbody style="background-color:aliceblue;" >
				<% @purchases_2.each do |purchase| %>
				<tr>
					<td><%= User.find_by(id: purchase.user_id).name %></td>
					<td>
						￥<%= number_with_delimiter(purchase.pur_total.to_i)  %>
					</td>
					<td>
						<%= purchase.date.year %> 年
						<%= purchase.date.month %> 月
						<%= purchase.date.day %> 日
					</td>
					<td>
						<% if purchase.status == 0 %>
						未処理
						<% elsif purchase.status == 1 %>
						準備中
						<% elsif purchase.status == 2 %>
						発送済
						<% end %>
					</td>
					<td><%= link_to "詳細確認",purchase_path(purchase.id),class: "btn btn-default btn-xs" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>

<script>
	$(function(){
		$('#tab-contents .tab[id != "tab-all"]').hide();
		$('#tab-menu a').on('click', function() {
			$("#tab-contents .tab").hide();
			$("#tab-menu .active").removeClass("active");
			$(this).addClass("active");
			$($(this).attr("href")).show();
			return false;
		});
	});
</script>