<h1>注文情報入力ページ</h1>

<p style="font-size: 25px;">お客様情報確認欄</p>

<%= form_for(@purchase) do |f| %>
	<p>名前：<%= f.text_field :pur_name, :value => "#{current_user.name}" %></p>
	<p>名前kana：<%= f.text_field :pur_name_kana, :value => "#{current_user.name_kana}" %></p>
	<p>住所：<%= f.text_area :pur_address, :value => "#{current_user.address}" %></p>
	<p>郵便番号：<%= f.text_field :pur_post_code, :value => "#{current_user.post_code}" %></p>
	<p>電話番号：<%= f.text_field :pur_tell, :value => "#{current_user.tell}" %></p>
	<p><%= f.text_field :date, :value => "#{current_user.created_at}" %></p>
	<p><%= f.text_field :cart_id, :value => "#{@cart.id}" %></p>
	<p><%= f.text_field :pur_total, :value => "55555" %></p>
	<p><%= f.hidden_field :pur_email, :value => "#{current_user.email}" %></p>


	<p style="font-size: 25px;">支払い方法選択欄</p>
	<p>注文商品合計価格：<%= @cart.sub_total %>円</p>
	<p>ポイント使用：<%= f.text_field :pay_points, :size => "5", :type => "tel" ,:maxlength => "5", :value => "0" %>pt</p>
	<p>(利用可能ポイント：<%= current_user.point %>pt)</p>
	<p>お支払い合計金額</p>
	<p>支払い方法：<%= f.text_field :pay %></p>


	<%= f.submit "注文確定", class: "btn btn-primary"%>


<% end %>




<!--
def index
		@purchase = Purchase.new
		@cart = current_user.carts.last
	end   -->