<div class="container">
	<h3><%= @purchase.date.strftime('%Y年%m月%d日') %>購入分</h3>

	<% @purchase_items.each do |purchase_item| %>
	<div class="row">
		<div class="col-md-8">
			<table class="table table-hover">
				<!-- <thead>
					<th></th>
					<th>タイトル</th>
					<th>アーティスト</th>
					<th>数量</th>
					<th>単価</th>
					<th>小計</th>
					<th></th>
					<th></th>
				</thead> -->
				<tbody>
					<tr>
						<td rowspan="2">
							<%= attachment_image_tag purchase_item, :image, size: "90x90", fallback: "no-image_rocket.png" %>
						</td>
						<td colspan="2">
							<span class="item-title"><%= purchase_item.title %></span>
							/ <%= purchase_item.artist %>
						</td>
						<td>
							<%= link_to "show",product_path(purchase_item.product_id), class: "btn btn-info btn-xs" %>
						</td>
					</tr>
					<tr>
						<td>
							単価：<%= number_to_currency(purchase_item.sub_total / purchase_item.amount, :unit => "￥",:precision => 0)  %>
						</td>
						<td>
							数量：<%= purchase_item.amount %>個
						</td>
						<td>
							<strong>小計：<%= number_to_currency(purchase_item.sub_total, :unit => "￥",:precision => 0)  %></strong>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-4 review-comment">
			<div class="form_group has_icon">
			<% if current_user.manager == false %>
				<%= form_for purchase_item.review, url: review_path(purchase_item.review.id) do |f| %>
					<label for="inputEmail"> 評価</label>
					<%= f.select :review_star, [["1"],["2"],["3"],["4"],["5"]] %>
					<div class="rating">
						<span id="5" class="glyphicon glyphicon-star"></span>
						<span id="4" class="glyphicon glyphicon-star"></span>
						<span id="3" class="glyphicon glyphicon-star"></span>
						<span id="2" class="glyphicon glyphicon-star"></span>
						<span id="1" class="glyphicon glyphicon-star"></span>
					</div>
					<div class="form_group has-icon">
						<label for="inputEmail">レビュー</label><%= f.submit "投稿", class: "btn btn-warning btn-xs" %>
						<%= f.text_area :review_body, autofocus: true, class: "review_body form-control", id: "inputEmail" %>
					</div>
				<% end %>
			<% else %>
				<p>
					・評価　　：<%= purchase_item.review.review_star %><br>
					・レビュー：
					<%= purchase_item.review.review_body %>
				</p>
				<%= form_for purchase_item.review, url: review_path(purchase_item.review.id) do |f| %>
					<%= f.select :review_status, [["公開", "release"],["非公開", "nonrelease"]] %>
					<%= f.submit "変更",class:"btn btn-success btn-xs"%>
				<% end %>
			<% end %>
		</div>
	</div>
	<% end %>
	<div class="row">
		<div class="col-md-10"></div>
		<div class="col-md-2" align="right">
	    	<% if current_user.manager %>
				<%= form_for @purchase, url: purchase_path do |f| %>
				<p>ステータス　<%= f.select :status, [["未処理","0"],["準備中","1"], ["発送済","2"]] %></p>
				<%= f.submit "ステータスを変更", class:"btn btn-default active" %>
		   		<% end %>
			<% end %>
		</div>
	</div>
</div>






<!--  メモ
<% @purchase_items.each do |purchase_item| %>
 	<p>数量 = [<%= purchase_item.amount %>]</p>
 	<p>単価 = [<%= purchase_item.sub_total / purchase_item.amount %>]</p>
 	<p>合計 = [<%= purchase_item.sub_total %>]</p>

<% end %>  -->



<!--  メモ
<% @purchase_items.each do |purchase_item| %>
 	<p>id = [<%= purchase_item.id %>]</p>
 	<p>purchase_id = [<%= purchase_item.purchase_id %>]</p>
 	<p>cart_item_id = [<%= purchase_item.cart_item_id%>]</p>
 	<p>amount = [<%= purchase_item.amount %>]</p>
 	<p>sub_total = [<%= purchase_item.sub_total %>]</p>

<% end %>  -->
