<h1>購入履歴詳細画面</h1>

<div class="container">

		<% if flash[:notice] %>
			<div class="alert alert-info">
				<%= flash.notice %>
			</div>
		<% end %>

	<div class="row">
		<div class="col-md-10">
			<h1>
				<%= @purchase.date.year %> 年
				<%= @purchase.date.month %> 月
				<%= @purchase.date.day %> 日　購入分
			</h1>
			<table class="table table-hover">
				<thead>
					<th></th>
					<th>タイトル</th>
					<th>アーティスト</th>
					<th>数量</th>
					<th>単価</th>
					<th>小計</th>
					<th></th>
					<th></th>
				</thead>


				<tbody>
					<% @purchase_items.each do |purchase_item| %>
						<tr>
							<td><%= attachment_image_tag purchase_item, :image, size: "70x70", fallback: "no-image_rocket.png" %></td>
							<td><%= purchase_item.title %></td>
							<td><%= purchase_item.artist %></td>
							<td><%= purchase_item.amount %></td>
							<td><%= purchase_item.sub_total / purchase_item.amount %></td>
							<td><%= purchase_item.sub_total %></td>
							<td><%= link_to "show",product_path(purchase_item.product_id), class: "btn btn-primary" %></td>
							<td>
								<% if current_user.manager == false %>
									<%= form_for purchase_item.review, url: review_path(purchase_item.review.id) do |f| %>
										<div class="form_group has_icon">
											<label for="inputEmail">評価</label>
											<%= f.select :review_star, [["☆☆☆☆☆", "0"],["★☆☆☆☆", "1"],["★★☆☆☆", "2"],["★★★☆☆", "3"],["★★★★☆", "4"],["★★★★★", "5"]] %>
										</div>
										<div class="form_group has-icon">
											<label for="inputEmail">レビュー</label>
											<%= f.text_area :review_body, autofocus: true, class: "review_body", id: "inputEmail" %>
										</div>
										<div class="form_group has-icon">
											<%= f.submit "投稿", class: "btn btn-warning btn-xs" %>
										</div>
									<% end %>
								<% else %>
									<%= @review_star %>
									<%= @review_body %>
									<%= form_for purchase_item.review, url: review_path(purchase_item.review.id) do |f| %>
										<%= f.select :review_status, [["公開", "release"],["非公開", "nonrelease"]] %>
									<% end %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<div align="right">
				<% if current_user.manager %>
						<%= form_for @purchase, url: purchase_path do |f| %>

							<p>ステータス　<%= f.select :status, [["未処理","0"],["準備中","1"], ["発送済み","2"]] %></p>

						<%= f.submit "ステータスを変更", class:"btn btn-default active" %>
					<% end %>
				<% end %>
			</div>
  		</div>
 	</div>
</div>




<!--  メモ
<% @purchase_items.each do |purchase_item| %>
 	<p>数量 = [<%= purchase_item.amount %>]</p>
 	<p>単価 = [<%= purchase_item.sub_total / purchase_item.amount %>]</p>
 	<p>合計 = [<%= purchase_item.sub_total %>]</p>

<% end %>  -->



<!--  メモ
<% @purchase_items.each do |purchase_item| %>
 	<p>id = [<%= purchase_item.id %>]</p>
 	<p>purchase_id = [<%= purchase_item.purchase_id %>]</p>
 	<p>cart_item_id = [<%= purchase_item.cart_item_id%>]</p>
 	<p>amount = [<%= purchase_item.amount %>]</p>
 	<p>sub_total = [<%= purchase_item.sub_total %>]</p>

<% end %>  -->
