<h1>購入履歴詳細画面</h1>

<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h1>
				<%= @purchase.date.year %> 年
				<%= @purchase.date.month %> 月
				<%= @purchase.date.day %> 日　購入分     ←@cart_itemから引っ張ったやつ　値下げが反映される
			</h1>
			<table class="table table-hover">
				<thead>
					<th></th>
					<th>タイトル</th>
					<th>アーティスト</th>
					<th>数量</th>
					<th>単価</th>
					<th>小計</th>
					<th></th>
				</thead>


				<tbody>
					<% @cart_items.each do |cart_item| %>
						<tr>
							<td><%= attachment_image_tag cart_item.product, :pro_image, size: "50x50", fallback: "no-image_rocket.png"%></td>
							<td><%= cart_item.product.pro_title %></td>
							<td><%= cart_item.product.pro_artist %></td>
							<td><%= cart_item.amount %></td>
							<td><%= cart_item.sub_total / cart_item.amount %></td>
							<td><%= cart_item.sub_total %></td>
							<td><%= link_to "show",product_path(cart_item.product_id), class: "btn btn-primary" %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
  		</div>
 	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h1>
				<%= @purchase.date.year %> 年
				<%= @purchase.date.month %> 月
				<%= @purchase.date.day %> 日　購入分　　　　←@purchase_itemから引っ張ってきたやつ　値下げは反映されない　商品名アーティスト名持ってこれない
			</h1>
			<table class="table table-hover">
				<thead>
					<th>数量</th>
					<th>単価</th>
					<th>小計</th>
					<th></th>
				</thead>


				<tbody>
					<% @purchase_items.each do |purchase_item| %>
						<tr>
							<td><%= purchase_item.amount %></td>
							<td><%= purchase_item.sub_total / purchase_item.amount %></td>
							<td><%= purchase_item.sub_total %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
  		</div>
 	</div>
</div>

<%#
<% if current_user.manager %>
	<%= form_for @purchase, url: purchase_path do |f| %>
		<p>ステータス　<%= f.select :status, Purchase.statuses.keys, class:"form-control" %></p>

		<%= f.submit "ステータスを変更", class:"btn btn-default active" %>
	<% end %>
<%# <% end %>







<!--  メモ
<% @purchase_items.each do |purchase_item| %>
 	<p>数量 = [<%= purchase_item.amount %>]</p>
 	<p>単価 = [<%= purchase_item.sub_total / purchase_item.amount %>]</p>
 	<p>合計 = [<%= purchase_item.sub_total %>]</p>

<% end %>  -->



<!--  メモ
<% @purchase_items.each do |purchase_item| %>
 	<p>id = [<%= purchase_item.id %>]</p>
 	<p>purchase_id = [<%= purchase_item.purchase_id %>]</p>
 	<p>cart_item_id = [<%= purchase_item.cart_item_id%>]</p>
 	<p>amount = [<%= purchase_item.amount %>]</p>
 	<p>sub_total = [<%= purchase_item.sub_total %>]</p>

<% end %>  -->
