<div class="container">
		<% if flash[:notice] %>
			<div class="alert alert-info">
				<%= flash.notice %>
			</div>
		<% end %>

	<h3><%=link_to @user_name,user_path(@purchase.user_id) %>様　<%= @purchase.date.strftime('%Y年%m月%d日') %>購入分</h3>

	<!-- 住所表示欄 -->
	<div class="row">
		<div class="col-md-12">
			<h4>◇ 配送先情報</h4>
			<table class="table">
				<tbody>
					<tr>
						<td>名前</td>
						<td><%= @purchase.pur_name %></td>
					</tr>
					<tr>
						<td>フリガナ</td>
						<td><%= @purchase.pur_name_kana %></td>
					</tr>
					<tr>
						<td>郵便番号</td>
						<td><%= @purchase.pur_post_code %></td>
					</tr>
					<tr>
						<td>住所</td>
						<td><%= @purchase.pur_address %></td>
					</tr>
					<tr>
						<td>電話番号</td>
						<td><%= @purchase.pur_tell %></td>
					</tr>
					<tr>
						<td>支払い方法</td>
						<td>
							<% if @purchase.pay == 0 %>
							銀行振込
							<% elsif @purchase.pay == 1 %>
							クレジットカード
							<% elsif @purchase.pay == 2 %>
							代金引換
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4>◇ ご購入商品一覧</h4>
			<table class="table table-hover">
				<thead>
					<th></th>
					<th>タイトル</th>
					<th>アーティスト</th>
					<th>数量</th>
					<th>単価</th>
					<th>小計</th>
					<th></th>
					<th>レビュー</th>
				</thead>
				<tbody>

					<% @purchase_items.each do |purchase_item| %>
						<tr>
							<td><%= attachment_image_tag purchase_item, :image, size: "100x100", fallback: "no-image_rocket.png" %></td>
							<td><strong><%= purchase_item.title %></strong></td>
							<td><%= purchase_item.artist %></td>
							<td><%= purchase_item.amount %></td>
							<td>￥<%= number_with_delimiter(purchase_item.sub_total / purchase_item.amount)  %></td>
							<td><strong>￥<%= number_with_delimiter(purchase_item.sub_total)  %></strong></td>

							<td><%= link_to "商品詳細へ",product_path(purchase_item.product_id), class: "btn btn-info btn-xs" %></td>
							<td>
								<% if current_user.manager == false %>
									<%= form_for purchase_item.review, url: review_path(purchase_item.review.id) do |f| %>
										<div class="form_group has_icon">
											<label for="inputEmail">評価</label>
											<%= f.select :review_star, [["☆☆☆☆☆", "0"],["★☆☆☆☆", "1"],["★★☆☆☆", "2"],["★★★☆☆", "3"],["★★★★☆", "4"],["★★★★★", "5"]] %>
										</div>
										<div class="form_group has-icon">
											<label for="inputEmail">レビュー</label>
											<%= f.text_area :review_body, autofocus: true, class: "review_body ", id: "inputEmail" %>
										</div>
										<div class="form_group has-icon">
											<%= f.submit "投稿", class: "btn btn-warning btn-xs" %>
										</div>
									<% end %>
								<% else %>
									<div>
										<% if purchase_item.review.review_star == 0 %>
											<p class="glyphicon glyphicon-star-empty"></p>
											<p class="glyphicon glyphicon-star-empty"></p>
											<p class="glyphicon glyphicon-star-empty"></p>
											<p class="glyphicon glyphicon-star-empty"></p>
											<p class="glyphicon glyphicon-star-empty"></p>
										<% elsif purchase_item.review.review_star > 0 && purchase_item.review.review_star <= 1 then %>
											<p class="glyphicon glyphicon-star"></p>
											<p class="glyphicon glyphicon-star-empty"></p>
											<p class="glyphicon glyphicon-star-empty"></p>
											<p class="glyphicon glyphicon-star-empty"></p>
											<p class="glyphicon glyphicon-star-empty"></p>
										<% elsif purchase_item.review.review_star > 1 && purchase_item.review.review_star <= 2 then %>
											<p class="glyphicon glyphicon-star"></p>
											<p class="glyphicon glyphicon-star"></p>
											<p class="glyphicon glyphicon-star-empty"></p>
											<p class="glyphicon glyphicon-star-empty"></p>
											<p class="glyphicon glyphicon-star-empty"></p>
										<% elsif purchase_item.review.review_star > 2 && purchase_item.review.review_star <= 3 then %>
											<p class="glyphicon glyphicon-star"></p>
											<p class="glyphicon glyphicon-star"></p>
											<p class="glyphicon glyphicon-star"></p>
											<p class="glyphicon glyphicon-star-empty"></p>
											<p class="glyphicon glyphicon-star-empty"></p>
										<% elsif purchase_item.review.review_star > 3 && purchase_item.review.review_star <= 4 then %>
											<p class="glyphicon glyphicon-star"></p>
											<p class="glyphicon glyphicon-star"></p>
											<p class="glyphicon glyphicon-star"></p>
											<p class="glyphicon glyphicon-star"></p>
											<p class="glyphicon glyphicon-star-empty"></p>
										<% elsif purchase_item.review.review_star > 4 && purchase_item.review.review_star <= 5 then %>
											<p class="glyphicon glyphicon-star"></p>
											<p class="glyphicon glyphicon-star"></p>
											<p class="glyphicon glyphicon-star"></p>
											<p class="glyphicon glyphicon-star"></p>
											<p class="glyphicon glyphicon-star"></p>
										<% end %>
									</div>
									<div><%= purchase_item.review.review_body %></div>
									<div>
										<%= form_for purchase_item.review, url: review_path(purchase_item.review.id) do |f| %>
											<%= f.select :review_status, [["公開", "release"],["非公開", "nonrelease"]] %>
											<%= f.submit "変更",class:"btn btn-success btn-xs"%>
										<% end %>
									</div>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<div align="right">
				<% if current_user.manager %>
						<%= form_for @purchase, url: purchase_path do |f| %>

							<p>ステータス　<%= f.select :status, [["未処理","0"],["準備中","1"], ["発送済み","2"]] %></p>

						<%= f.submit "ステータスを変更", class:"btn btn-success active" %>
					<% end %>
				<% end %>
			</div>
  		</div>
 	</div>

</div>




<!--  メモ
<% @purchase_items.each do |purchase_item| %>
 	<p>数量 = [<%= purchase_item.amount %>]</p>
 	<p>単価 = [<%= purchase_item.sub_total / purchase_item.amount %>]</p>
 	<p>合計 = [<%= purchase_item.sub_total %>]</p>

<% end %>  -->



<!--  メモ
<% @purchase_items.each do |purchase_item| %>
 	<p>id = [<%= purchase_item.id %>]</p>
 	<p>purchase_id = [<%= purchase_item.purchase_id %>]</p>
 	<p>cart_item_id = [<%= purchase_item.cart_item_id%>]</p>
 	<p>amount = [<%= purchase_item.amount %>]</p>
 	<p>sub_total = [<%= purchase_item.sub_total %>]</p>

<% end %>  -->
