<p><%= flash.notice %></p>
<h2 class="page-title">商品一覧ページ</h2>

<div class="pro_genre-index clearfix">

	<div class="pro_genre-index-sidebar">
		<div class="pro_genre-index-sidebar-box">


			<nav class="navbar navbar-light bg-light">
				<div class="form-inline">
					<%= search_form_for @search, url: research_products_path do |f| %>
					<%= f.search_field :pro_title_or_pro_artist_cont, class:"form-control mr-sm-2" %>
					<%= f.submit "Search", class:"btn btn-outline-success my-2 my-sm-0" %>
					<% end %>
				</div>
			</nav>



			<% @genres.each do |genre| %>
			<%= link_to genre.pro_genre_name, pro_genre_path(genre.id) %><br>
			<% end %>
		</div>
	</div>
	<div class="pro_genre-index-main">


		<p> ■おすすめ</p>
		<% @products.each do |product| %>
		<% if product.pro_status == "release" %>
		<%= link_to product.pro_title, pro_genre_product_path(product.pro_genre_id, product.id) %><br>
		<% end %>
		<% end %><br>

		<p> ■J-POP</p>
		<% @genres_jpop.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<p> ■K-POP</p>
		<% @genres_kpop.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<p> ■アイドル</p>
		<% @genres_idle.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<p> ■童謡</p>
		<% @genres_douyou.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<p> ■Rock</p>
		<% @genres_rock.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<p> ■EDM</p>
		<% @genres_edm.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<p> ■Dance</p>
		<% @genres_dance.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<p> ■Alternative</p>
		<% @genres_alternative.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<p> ■RAP/HIP-HOP</p>
		<% @genres_rap.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<p> ■アニソン</p>
		<% @genres_anime.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<p> ■Jazz</p>
		<% @genres_jazz.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<p> ■その他</p>
		<% @genres_otherwise.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

	</div>

</div>