<div class="">

<div class="bxslider">
	<div class="main-visual">
		<div class="main-visual-content">
			<h2 class="main-visual-text">Music Share</h2>
		</div>
	</div>
	<div class="main-visual2">
		<div class="main-visual-content">
			<h2 class="main-visual-text">Music Share</h2>
		</div>
	</div>
	<div class="main-visual3">
		<div class="main-visual-content">
			<h2 class="main-visual-text">Music Share</h2>
		</div>
	</div>
</div>


<div class="container">

	<p><%= flash.notice %></p>

	<h2>商品一覧ページ</h2>

	<div class="row">

		<!-- - - - サイドバー(テンプレ？？) - - - -->
		<div class="side-ber col-md-2">
			<section class="form-inline">
				<%= search_form_for @search, url: research_products_path do |f| %>
				<%= f.search_field :pro_title_or_pro_artist_cont, class:"form-control mr-sm-2" %>
				<%= f.submit "Search", class:"btn btn-outline-success my-2 my-sm-0" %>
				<% end %>
			</section>
			<div class="genre-list">
				<% @genres.each do |genre| %>
				<p><%= link_to genre.pro_genre_name, pro_genre_path(genre.id) %>
				</p>
				<% end %>
			</div>
		</div>

		<!-- - - - メインー - - - -->
		<div class="main col-md-10 clearfix">

			<!-- おすすめ -->
			<div class="clearfix">
				<h4 class="new-info"> ■おすすめ</h4>
				<% @products.each do |product| %>

				    <div class="col-md-3">
					    <% if product.pro_date >Time.now-(7.days) %>
							<div class="newsign">
								<span class="ribbon">NEW</span>
							</div>
					    <% end %>
					    <div class="cd-image">
						    <%= link_to attachment_image_tag(product, :pro_image, fallback: "no-image_rocket.png" ,class: "img"), pro_genre_product_path(product.pro_genre_id, product.id) %>
						    <div class="cd-image-overlay">
						    	<span><%= product.average_score %></span>
					            <span>★★★★★
							    <%= link_to "77", pro_genre_product_path(product.pro_genre_id, product.id),class: "far fa-comments review-amount" %></span>
							    <p><%= link_to product.pro_title, pro_genre_product_path(product.pro_genre_id, product.id),class: "cd_title" %>
							    </p>
							    <p><%= product.pro_artist %></p>
						    </div>
					    </div>
				    </div>
				<% end %>
			</div>


			<!-- J-POP -->
			<div class="clearfix">
				<h4 class="genre-title"> ■J-POP</h4>
				<% @genres_jpop.each do |product| %>

				    <div class="col-md-3">
				    	<% if product.pro_date >Time.now-(7.days) %>
							<div class="newsign">
								<span class="ribbon">NEW</span>
							</div>
					    <% end %>
					    <div class="cd-image">
						    <%= link_to attachment_image_tag(product, :pro_image, fallback: "no-image_rocket.png" ,class: "img"), pro_genre_product_path(product.pro_genre_id, product.id) %>
						    <div class="cd-image-overlay">
							    <p>★★★★★
							    <%= link_to "77", pro_genre_product_path(product.pro_genre_id, product.id),class: "far fa-comments review-amount" %></p>
							    <p><%= link_to product.pro_title, pro_genre_product_path(product.pro_genre_id, product.id) %>
							    </p>
							    <p><%= product.pro_artist %></p>
						    </div>
					    </div>
				    </div>
				<% end %>
			</div>


			<!-- K-POP -->
			<h4 class="genre-title"> ■K-POP</h4>
			<% @genres_kpop.each do |genre| %>
			<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
			<% end %><br>


			<!-- アイドル -->
			<h4 class="genre-title"> ■アイドル</h4>
			<% @genres_idle.each do |genre| %>
			<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
			<% end %><br>


			<!-- 童謡 -->
			<h4 class="genre-title"> ■童謡</h4>
			<% @genres_douyou.each do |genre| %>
			<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
			<% end %><br>


			<!-- Rock -->
			<h4 class="genre-title"> ■Rock</h4>
			<% @genres_rock.each do |genre| %>
			<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
			<% end %><br>


			<!-- EDM -->
			<h4 class="genre-title"> ■EDM</h4>
			<% @genres_edm.each do |genre| %>
			<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
			<% end %><br>


			<!-- Dance -->
			<h4 class="genre-title"> ■Dance</h4>
			<% @genres_dance.each do |genre| %>
			<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
			<% end %><br>


			<!-- Alternative -->
			<h4 class="genre-title"> ■Alternative</h4>
			<% @genres_alternative.each do |genre| %>
			<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
			<% end %><br>


			<!-- RAP/HIP-HOP -->
			<h4 class="genre-title"> ■RAP/HIP-HOP</h4>
			<% @genres_rap.each do |genre| %>
			<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
			<% end %><br>


			<!-- アニソン -->
			<h4 class="genre-title"> ■アニソン</h4>
			<% @genres_anime.each do |genre| %>
			<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
			<% end %><br>


			<!-- Jazz -->
			<h4 class="genre-title"> ■Jazz</h4>
			<% @genres_jazz.each do |genre| %>
			<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
			<% end %><br>


			<!-- その他 -->
			<h4 class="genre-title"> ■その他</h4>
			<% @genres_otherwise.each do |genre| %>
			<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
			<% end %><br>

		</div>

	</div>
</div>

</div>

<!-- bxSlider -->
<script>
	$(document).ready(function(){
		$('.bxslider').bxSlider({
			mode: 'fade',
			auto: true,
			pause: 5000,
		});
	});
</script>