<div class="main-visual">
	<div class="main-visual-content">
      <h1 class="main-visual-text">
        Music Share
      </h1>
  </div>
</div>


<div class="container">

<p><%= flash.notice %></p>

<h2>商品一覧ページ</h2>

<div class="row">

	<!-- - - - サイドバー(テンプレ？？) - - - -->
	<div class="side-ber col-md-2">
		<section class="form-inline">
			<%= search_form_for @search, url: research_products_path do |f| %>
			    <%= f.search_field :pro_title_or_pro_artist_cont, class:"form-control mr-sm-2" %>
			    <%= f.submit "Search", class:"btn btn-outline-success my-2 my-sm-0" %>
			<% end %>
		</section>
		<div class="genre-list">
			<% @genres.each do |genre| %>
			    <p><%= link_to genre.pro_genre_name, pro_genre_path(genre.id) %>
			    </p>
			<% end %>
		</div>
	</div>

    <!-- - - - メインー - - - -->
    <div class="main col-md-10 clearfix">

		<h4 class="new-info"> ■おすすめ</h4>
		<% @products.each do |product| %>
		<% if product.pro_status == "release" %>
		<%= link_to product.pro_title, pro_genre_product_path(product.pro_genre_id, product.id) %><br>
		<% end %>
		<% end %><br>

		<h4 class="genre-title"> ■J-POP</h4>
		<% @genres_jpop.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<h4 class="genre-title"> ■K-POP</h4>
		<% @genres_kpop.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<h4 class="genre-title"> ■アイドル</h4>
		<% @genres_idle.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<h4 class="genre-title"> ■童謡</h4>
		<% @genres_douyou.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<h4 class="genre-title"> ■Rock</h4>
		<% @genres_rock.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<h4 class="genre-title"> ■EDM</h4>
		<% @genres_edm.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<h4 class="genre-title"> ■Dance</h4>
		<% @genres_dance.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<h4 class="genre-title"> ■Alternative</h4>
		<% @genres_alternative.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<h4 class="genre-title"> ■RAP/HIP-HOP</h4>
		<% @genres_rap.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<h4 class="genre-title"> ■アニソン</h4>
		<% @genres_anime.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<h4 class="genre-title"> ■Jazz</h4>
		<% @genres_jazz.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

		<h4 class="genre-title"> ■その他</h4>
		<% @genres_otherwise.each do |genre| %>
		<% if genre.pro_status == "release" %>
		<%= link_to genre.pro_title, pro_genre_product_path(genre.pro_genre_id, genre.id) %><br>
		<% end %>
		<% end %><br>

	</div>

</div>
</div>