

<div class="container">
	<h3 class="glyphicon glyphicon-shopping-cart">ショッピングカート</h3>


	<!-- カート内の商品一覧 -->
	<table class="table table-hover">

		<% @cart_items.each do |cart_item| %>
		<tbody>

			<!-- 商品情報 (画像/商品名/アーティスト名) -->
			<tr>
				<td rowspan="2">
					<%= attachment_image_tag cart_item.product, :pro_image_id, size: "80x80", fallback: "no-image_rocket.png"%> <!-- no_image.jpg -->
				</td>
				<td colspan="10">
					<strong><%= link_to cart_item.product.pro_title, pro_genre_product_path(cart_item.product.pro_genre,cart_item.product)%></strong>
					 / <%= cart_item.product.pro_artist %>
				</td>
			</tr>

			<!-- 小計関連　(注文数の変更/小計/カート商品の削除) -->
			<tr>
				<td colspan="2">
					単価 :
					<%= number_to_currency(cart_item.product.pro_price, :unit => "￥",:precision => 0)  %>
				</td>
				<%= form_for cart_item, url:cart_cart_item_path(cart_item.cart,cart_item) do |f| %>
				<td>
					<!-- 注文数の制限を後でかける。在庫から減るような処理をする。 ------>
					注文数<%= f.number_field :amount,min:"1",max:"50" %>個
					<%= f.submit "変更", class: "btn btn-default btn-xs"%>
				</td>
				<% end %>
				<td colspan="4">
					/  小計 :
					<strong>
					<%= number_to_currency( (cart_item.sub_total).to_i , :unit => "￥",:precision => 0)  %>
					</strong>
				</td>
				<td colspan="2">
					<%= link_to "削除", cart_cart_item_path(cart_item.cart,cart_item),method: :delete,
					"data-confirm" => "カート内から削除しますか？" , class: "btn btn-default btn-xs" %>
				</td>
			</tr>

		</tbody>
		<% end %>

	</table>



    <!-- カート内の合計金額 -->
	<div class="row">
		<span class="col-md-8"></span>
		<p class="col-md-4">
			/  注文合計金額:
			<strong>
				 <%= number_to_currency((@cart.sub_total).to_i , :unit => "￥",:precision => 0)  %>
			</strong>
		</p>
	</div>

	<!-- レジへ進むボタン -->
	<div class="row">
		<span class="col-md-8"></span>
		<p class="col-md-4">
			<%= link_to "  レジに進む　　",purchase_path(@cart) , class: "btn btn-warning btn-block btn-sm glyphicon glyphicon-ok "%>
		</p>
	</div>
	<!-- 商品追加ボタン -->
	<div class="row">
		<span class="col-md-8"></span>
		<p class="col-md-4">
			<%= link_to "  他の商品も見る",root_path, class: "glyphicon glyphicon-search btn btn-info btn-block btn-sm" %>
		</p>
	</div>




</div>


