<div class="contain">
	<div class="product-index-title clearfix">
		<div class="product-index-title-left">
			<h3> 登録商品一覧</h3>
		</div>
		<div class="product-index-title-right">
			<div class="product-index-title-right-box1">
				<%= link_to "商品登録画面", new_product_path, class:"btn btn-default active" %>
			</div>
			<div class="product-index-title-right-box1">
				<%= link_to "全ての商品を表示", products_path, class:"btn btn-default active" %>
			</div>
			<div class="product-index-title-right-box1">
				<div class="form-inline">
					<%= search_form_for @search, url: products_path do |f| %>
					<%= f.search_field :pro_title_or_pro_artist_cont, class:"form-control mr-sm-2" %>
					<%= f.submit "Search", class:"btn btn-outline-success my-2 my-sm-0" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>


	<!-- 一覧商品 -->

	<% if @product_cnt == @result_cnt %>

	<!-- 公開商品（一覧） -->

	<h4> ■登録商品一覧（公開商品）</h4>

	<table class="table table-atriped">
		<tr>
			<th> 商品名</th>
			<th> ジャンル</th>
			<th> 登録日</th>
			<th> 在庫数</th>
			<th></th>
		</tr>

		<% @products.each do |product| %>
		<% if product.pro_status == "release" %>


		<% if product.pro_amount == 0 %>
		<tr style="background-color:orangered;">
			<% elsif product.pro_amount <= 48 %>
			<tr style="background-color:yellow;">
				<% else %>
				<tr>
					<% end %>
					<td><%= link_to product.pro_title, pro_genre_product_path(product.pro_genre_id, product.id) %></td>
					<% if product.pro_genre_id == 1 %>
					<td>J-POP</td>
					<% elsif product.pro_genre_id == 2 %>
					<td>K-POP</td>
					<% elsif product.pro_genre_id == 3 %>
					<td>アイドル</td>
					<% elsif product.pro_genre_id == 4 %>
					<td>童謡</td>
					<% elsif product.pro_genre_id == 5 %>
					<td>Rock</td>
					<% elsif product.pro_genre_id == 6 %>
					<td>EDM</td>
					<% elsif product.pro_genre_id == 7 %>
					<td>Dance</td>
					<% elsif product.pro_genre_id == 8 %>
					<td>Alternative</td>
					<% elsif product.pro_genre_id == 9 %>
					<td>RAP/HIP-HOP</td>
					<% elsif product.pro_genre_id == 10 %>
					<td>アニソン</td>
					<% elsif product.pro_genre_id == 11 %>
					<td>Jazz</td>
					<% else %>
					<td> その他</td>
					<% end %>
					<td><%= product.pro_date.strftime("%Y年 %m月 %d日") %></td>
					<td><%= product.pro_amount %>個</td>
					<td>
						<%=link_to "詳細", pro_genre_product_path(product.pro_genre_id, product.id), class:"btn btn-info btn-xs" %>
						<%=link_to "編集", edit_pro_genre_product_path(product.pro_genre_id, product.id), class:"btn btn-success btn-xs" %>
					</td>
				</tr>
			</tr>
		</tr>


		<% end %>
		<% end %>
	</table>
	<%= paginate @products %>


	<!-- 非公開商品（一覧） -->

	<h4> ■非公開商品</h4>

	<table class="table table-atriped">
		<tr>
			<th> 商品名</th>
			<th> ジャンル</th>
			<th> 登録日</th>
			<th> 在庫数</th>
			<th></th>
		</tr>

		<% @products_non.each do |product| %>
		<% if product.pro_status == "nonrelease" %>


		<% if product.pro_amount == 0 %>
		<tr style="background-color:orangered;">
			<% elsif product.pro_amount <= 48 %>
			<tr style="background-color:yellow;">
				<% else %>
				<tr>
					<% end %>
					<td><%= link_to product.pro_title, pro_genre_product_path(product.pro_genre_id, product.id) %></td>
					<% if product.pro_genre_id == 1 %>
					<td>J-POP</td>
					<% elsif product.pro_genre_id == 2 %>
					<td>K-POP</td>
					<% elsif product.pro_genre_id == 3 %>
					<td>アイドル</td>
					<% elsif product.pro_genre_id == 4 %>
					<td>童謡</td>
					<% elsif product.pro_genre_id == 5 %>
					<td>Rock</td>
					<% elsif product.pro_genre_id == 6 %>
					<td>EDM</td>
					<% elsif product.pro_genre_id == 7 %>
					<td>Dance</td>
					<% elsif product.pro_genre_id == 8 %>
					<td>Alternative</td>
					<% elsif product.pro_genre_id == 9 %>
					<td>RAP/HIP-HOP</td>
					<% elsif product.pro_genre_id == 10 %>
					<td>アニソン</td>
					<% elsif product.pro_genre_id == 11 %>
					<td>Jazz</td>
					<% else %>
					<td> その他</td>
					<% end %>
					<td><%= product.pro_date.strftime("%Y年 %m月 %d日") %></td>
					<td><%= product.pro_amount %>個</td>
					<td>
						<%=link_to "詳細", pro_genre_product_path(product.pro_genre_id, product.id), class:"btn btn-info btn-xs" %>
						<%=link_to "編集", edit_pro_genre_product_path(product.pro_genre_id, product.id), class:"btn btn-success btn-xs" %>
					</td>
				</tr>
			</tr>
		</tr>
		<% end %>
		<% end %>
	</table>

	<%= paginate @products_non %>


	<% else %>

    <!-- 検索結果 -->

	<!-- 公開商品（検索） -->


	<h4> ■登録商品一覧（公開商品）</h4>

	<table class="table table-atriped">
		<tr>
			<th> 商品名</th>
			<th> ジャンル</th>
			<th> 登録日</th>
			<th> 在庫数</th>
			<th></th>
		</tr>


		<% @result.each do |product| %>
		<% if product.pro_status == "release" %>


		<% if product.pro_amount == 0 %>
		<tr style="background-color:orangered;">
			<% elsif product.pro_amount <= 48 %>
			<tr style="background-color:yellow;">
				<% else %>
				<tr>
					<% end %>
					<td><%= link_to product.pro_title, pro_genre_product_path(product.pro_genre_id, product.id) %></td>
					<% if product.pro_genre_id == 1 %>
					<td>J-POP</td>
					<% elsif product.pro_genre_id == 2 %>
					<td>K-POP</td>
					<% elsif product.pro_genre_id == 3 %>
					<td>アイドル</td>
					<% elsif product.pro_genre_id == 4 %>
					<td>童謡</td>
					<% elsif product.pro_genre_id == 5 %>
					<td>Rock</td>
					<% elsif product.pro_genre_id == 6 %>
					<td>EDM</td>
					<% elsif product.pro_genre_id == 7 %>
					<td>Dance</td>
					<% elsif product.pro_genre_id == 8 %>
					<td>Alternative</td>
					<% elsif product.pro_genre_id == 9 %>
					<td>RAP/HIP-HOP</td>
					<% elsif product.pro_genre_id == 10 %>
					<td>アニソン</td>
					<% elsif product.pro_genre_id == 11 %>
					<td>Jazz</td>
					<% else %>
					<td> その他</td>
					<% end %>
					<td><%= product.pro_date.strftime("%Y年 %m月 %d日") %></td>
					<td><%= product.pro_amount %>個</td>
					<td><%=link_to "編集", edit_pro_genre_product_path(product.pro_genre_id, product.id), class:"btn btn-success btn-xs" %></td>
				</tr>
			</tr>
		</tr>

		<% end %>
		<% end %>
	</table>


	<!-- 非公開商品（検索） -->

	<h4> ■非公開商品</h4>

	<table class="table table-atriped">
		<tr>
			<th> 商品名</th>
			<th> ジャンル</th>
			<th> 登録日</th>
			<th> 在庫数</th>
			<th></th>
		</tr>


		<% @result.each do |product| %>
		<% if product.pro_status == "nonrelease" %>


		<% if product.pro_amount == 0 %>
		<tr style="background-color:orangered;">
			<% elsif product.pro_amount <= 48 %>
			<tr style="background-color:yellow;">
				<% else %>
				<tr>
					<% end %>
					<td><%= link_to product.pro_title, pro_genre_product_path(product.pro_genre_id, product.id) %></td>
					<% if product.pro_genre_id == 1 %>
					<td>J-POP</td>
					<% elsif product.pro_genre_id == 2 %>
					<td>K-POP</td>
					<% elsif product.pro_genre_id == 3 %>
					<td>アイドル</td>
					<% elsif product.pro_genre_id == 4 %>
					<td>童謡</td>
					<% elsif product.pro_genre_id == 5 %>
					<td>Rock</td>
					<% elsif product.pro_genre_id == 6 %>
					<td>EDM</td>
					<% elsif product.pro_genre_id == 7 %>
					<td>Dance</td>
					<% elsif product.pro_genre_id == 8 %>
					<td>Alternative</td>
					<% elsif product.pro_genre_id == 9 %>
					<td>RAP/HIP-HOP</td>
					<% elsif product.pro_genre_id == 10 %>
					<td>アニソン</td>
					<% elsif product.pro_genre_id == 11 %>
					<td>Jazz</td>
					<% else %>
					<td> その他</td>
					<% end %>
					<td><%= product.pro_date.strftime("%Y年 %m月 %d日") %></td>
					<td><%= product.pro_amount %>個</td>
					<td><%=link_to "編集", edit_pro_genre_product_path(product.pro_genre_id, product.id), class:"btn btn-success btn-xs" %></td>
				</tr>
			</tr>
		</tr>

		<% end %>
		<% end %>
	</table>


	<% end %>


</div>
