<div class="main-visual">
	<div class="main-visual-content">
      <h1 class="main-visual-text">
        Music Share
      </h1>
  </div>
</div>

<div class="container">

    <h2>検索結果ページ</h2>
    <div class="row">

	<!-- - - - サイドバー (テンプレ？？) - - - -->
	<div class="side-ber col-md-2">
		<section class="form-inline">
			<%= search_form_for @search, url: research_products_path do |f| %>
			    <%= f.search_field :pro_title_or_pro_artist_cont, class:"form-control mr-sm-2" %>
			    <%= f.submit "Search", class:"btn btn-outline-success my-2 my-sm-0" %>
			<% end %>
		</section>
		<div class="genre-list">
			<% @genres.each do |genre| %>
			    <p><%= link_to genre.pro_genre_name, pro_genre_path(genre.id) %>
			    </p>
			<% end %>
		</div>
	</div>

	<!-- - - - メインー - - - -->
	<section class="main col-md-10 clearfix">
		<h3 class="genre-title row">
			 ◇ 検索ワード
			<strong>「<%= @search.pro_title_or_pro_artist_cont %>」</strong>
		</h3>
		<% @products.each do |product| %>
		<% if product.pro_status == "release" %>
		<div class="col-md-3">

			<div class="cd-image">
				<%= attachment_image_tag product, :pro_image, fallback: "no-image_rocket.png" ,class: "img"%>
				<div class="cd-image-overlay">
					<% if product.pro_date >Time.now-(7.days) %>
			            <div class="newsign">
				        <span class="ribbon">NEW</span>
			            </div>
			        <% end %>
					<h5><%= product.pro_artist %></h5>
					<h4><%= link_to product.pro_title, pro_genre_product_path(product.pro_genre_id, product.id) %></h4>
					<p>★★★★★</p>
					<%= link_to "77", pro_genre_product_path(product.pro_genre_id, product.id),class: "far fa-comments review-amount" %>
				</div>
			</div>
		</div>




		<!-- <section class="card">
			<% if product.pro_date >Time.now-(7.days) %>
			    <div class="newsign">
				    <span class="ribbon">NEW</span>
			    </div>
			<% end %>
			<div class="card-img text-center">
				<%= attachment_image_tag product, :pro_image, size: "170x170", fallback: "no-image_rocket.png"%>
			</div>
			<div class="card-content">
				<h5 class="card-title"><%= link_to product.pro_title, pro_genre_product_path(product.pro_genre_id, product.id) %></h5>
				<h6 class="card-subtitle text-muted">
					<span class="glyphicon glyphicon-user"> </span>
					<%= product.pro_artist %>
				</h6>
				<p class="card-text price">
					<%= number_to_currency(product.pro_price, :unit => "￥",:precision => 0)  %>
					<span>
						<% if product.pro_amount >= 11 then%>
						| 在庫あり
						<% elsif product.pro_amount <= 10 && product.pro_amount >= 1 then %>
					    | ※ 残りわずか ※
					    <% elsif product.pro_amount = 0 then  %>
					    | ※※ SoldOut ※※
					    <%end%>
					</span><br>
					★★★★★
					<span class="far fa-comments review-amount"> 77</span>
				</p>
			</div>
		</section> -->
		<% end %>
		<% end %>
	</section>

    </div>

<!-- - - - リンクボタン- - - -->
　　<div class="row">
		<span class="col-md-11"></span>
		<p class="col-md-1">
			<%= link_to "  戻る",root_path, class: " btn-info  btn-sm" %>
		</p>
	</div>
</div>
