<div class="container">

	<h3 class="glyphicon glyphicon-headphones"> 商品詳細情報</h3>

	<div class="pro_info">
		<h2>
			<strong><%= @product.pro_title %></strong>
			/  <%= @product.pro_artist %>
		</h2>

		<table class="table table-hover">
			<tbody>

				<!-- 価格 -->
				<tr>
					<td rowspan="7">
						<div class="bxslider">
							<div><%= attachment_image_tag @product, :pro_image, size: "300x300", fallback: "no-image_rocket.png" %></div>
							<div>
								<% @music.each do |f| %>
								<%= f.music_number %>.&ensp;<%= f.music_name %><br>
								<% end %>
							</div>
						</div>
					</td>
					<th>価格 :</th>
					<td colspan=" 3">
						<%= number_to_currency(@product.pro_price, :unit => "￥",:precision => 0)  %>
					</td>
				</tr>

				<!-- ジャンル名 -->
				<tr>
					<th>ジャンル :</th>
					<td>
						<% if @product.pro_genre_id == 1 %>
						J-POP
						<% elsif @product.pro_genre_id == 2 %>
						K-POP
						<% elsif @product.pro_genre_id == 3 %>
						アイドル
						<% elsif @product.pro_genre_id == 4 %>
						童謡
						<% elsif @product.pro_genre_id == 5 %>
						Rock
						<% elsif @product.pro_genre_id == 6 %>
						EDM
						<% elsif @product.pro_genre_id == 7 %>
						Dance
						<% elsif @product.pro_genre_id == 8 %>
						Alternative
						<% elsif @product.pro_genre_id == 9 %>
						RAP/HIP-HOP
						<% elsif @product.pro_genre_id == 10 %>
						アニソン
						<% elsif @product.pro_genre_id == 11 %>
						Jazz
						<% else %>
						その他
						<% end %>
					</td>
				</tr>
				<!-- レーベル名 -->
				<tr>
					<th>レーベル :</th>
					<td>
						<% if @product.pro_label_id == 1 %>
						エイベックス
						<% elsif @product.pro_label_id == 2 %>
						ユニバーサル・ミュージック
						<% elsif @product.pro_label_id == 3 %>
						ワーナーミュージック・ジャパン
						<% elsif @product.pro_label_id == 4 %>
						ソニー・ミュージックエンターテインメント
						<% elsif @product.pro_label_id == 5 %>
						ウルトラ・ミュージック
						<% elsif @product.pro_label_id == 6 %>
						アルマダ・ミュージック
						<% elsif @product.pro_label_id == 7 %>
						モンスターキャット
						<% elsif @product.pro_label_id == 8 %>
						flying DOG
						<% elsif @product.pro_label_id == 9 %>
						SAKURA MUSIC
						<% elsif @product.pro_label_id == 10 %>
						TOHO animation RECORD
						<% elsif @product.pro_label_id == 11 %>
						ランティス
						<% elsif @product.pro_label_id == 12 %>
						ANIMEX
						<% elsif @product.pro_label_id == 13 %>
						バップ
						<% else %>
						その他
						<% end %>

					</td>
				</tr>
				<!-- 登録日 -->
				<tr>
					<th>情報更新日 :</th>
					<td><%= @product.pro_date.strftime('%Y年%m月%d日') %></td>
				</tr>

				<!-- 在庫状況 -->
				<tr>
					<th>在庫状況 :</th>
					<td>
						<% if @product.pro_amount >= 11 then%>
						<span class="pro_amount_atatus">在庫あり</span>
						<% elsif @product.pro_amount <= 10 && @product.pro_amount >= 1 then %>
						<span class="pro_amount_atatus">＊残りわずか＊</span>
						<% elsif @product.pro_amount = 0 then  %>
						<span class="pro_amount_atatus">＊＊SoldOut＊＊</span>
						<%end%>
					</td>
				</tr>

				<!-- レビュー数/レビュースター数 -->
				<tr>
					<th>レビュー :</th>
					<td>
						<p>平均 星<%= @review %>: レビュー数<%= @count_reviews %></p>
						<% if @reveiws.to_i >= 0 && @reveiws.to_i <= 1 then %>
							<p class="glyphicon glyphicon-star"></p>
							<p class="glyphicon glyphicon-star-empty"></p>
							<p class="glyphicon glyphicon-star-empty"></p>
							<p class="glyphicon glyphicon-star-empty"></p>
							<p class="glyphicon glyphicon-star-empty"></p>
						<% elsif @reveiws.to_i > 1 && @reveiws.to_i <= 2 then %>
							<p class="glyphicon glyphicon-star"></p>
							<p class="glyphicon glyphicon-star"></p>
							<p class="glyphicon glyphicon-star-empty"></p>
							<p class="glyphicon glyphicon-star-empty"></p>
							<p class="glyphicon glyphicon-star-empty"></p>
						<% elsif @reveiws.to_i > 2 && @reveiws.to_i <= 3 then %>
							<p class="glyphicon glyphicon-star"></p>
							<p class="glyphicon glyphicon-star"></p>
							<p class="glyphicon glyphicon-star"></p>
							<p class="glyphicon glyphicon-star-empty"></p>
							<p class="glyphicon glyphicon-star-empty"></p>
						<% elsif @reveiws.to_i > 3 && @reveiws.to_i <= 4 then %>
							<p class="glyphicon glyphicon-star"></p>
							<p class="glyphicon glyphicon-star"></p>
							<p class="glyphicon glyphicon-star"></p>
							<p class="glyphicon glyphicon-star"></p>
							<p class="glyphicon glyphicon-star-empty"></p>
						<% elsif @reveiws.to_i > 4 && @reveiws.to_i <= 5 then %>
							<p class="glyphicon glyphicon-star"></p>
							<p class="glyphicon glyphicon-star"></p>
							<p class="glyphicon glyphicon-star"></p>
							<p class="glyphicon glyphicon-star"></p>
							<p class="glyphicon glyphicon-star"></p>
						<% end %>
					</td>
				</tr>


				<!-- リンクボタン -->
				<tr>
					<th></th>
					<td colspan="3">
						<!-- - - -  管理者 - - - -->
						<%if user_signed_in? && current_user.manager == true %>
						<%=link_to "商品情報を編集する", edit_pro_genre_product_path(@product.pro_genre_id, @product.id), class:"btn btn-success" %>
						<%= link_to "登録商品一覧画面", products_path ,class: "btn btn-info"%>
						<!-- - - - ログイン済会員 - - - -->
						<% elsif user_signed_in? && current_user.manager == false %>
						<%= form_for @cart_item ,url:product_cart_items_path(product_id: @product.id) do |f| %>
						<p>
							注文数<%= f.number_field :amount, value:"1", min:"1",max:"#{@product.pro_amount}" %>個  :
							<%= f.submit "カートへ入れる" , class: "btn btn-warning btn-xs" %>    /
							<%= link_to "  他の商品を見る",root_path, class: "btn btn-info btn-xs" %>
						</p>
						<% end %>
						<!-- - - - 未ログイン会員 - - - -->
						<% else %>
						<%= link_to "ログインしてカートへ入れる", user_session_path ,class: "btn btn-info btn-xs" %>
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	<!-- - - - - - - -- -  - - - - - - - - - - - - 下記レビュー欄 - - - - - - - - - - - - - - - - - - - -->
	<div class="reviews">
		<h3 class="glyphicon glyphicon-comment"> 商品レビュー</h3>
	</div>
	<table class="table table-hover">
		<thead>
			<th></th>
			<%if user_signed_in? && current_user.manager == true %>
			<th></th>
			<th></th>
			<th></th>
			<% end %>
		</thead>
		<tbody>
			<% @reviews.each do |review| %>
				<tr>
					<td><%= review.user.name %></td>
					<td><%= review.review_body %></td>
					<% if user_signed_in? && current_user.manager == true %>
						<td>
							<% if review.review_status == true %>
							<p>公開中</p>
							<% else %>
							<p>非公開中</p>
							<% end %>
						</td>
						<%= form_for (review) do |f| %>
						<td><%= f.select :review_status, [["公開", "release"],["非公開", "nonrelease"]] %></td>
						<% end %>
						<td><%= link_to '会員情報確認', user_path(review.user_id)%></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>


<!-- bxSlider -->
<script>
$(document).ready(function(){
  $('.bxslider').bxSlider({
  	slideWidth: 310,
  });
});
</script>
