<h2> 商品詳細画面</h2><br>

<%= link_to "登録商品一覧画面", products_path %>


<h2><%= @product.pro_title %></h2>

<!-- 価格 -->
price : <%= @product.pro_price %><br>


<!-- ジャンル名 -->
<% if @product.pro_genre_id == 1 %>
genre : J-POP<br>

<% elsif @product.pro_genre_id == 2 %>
genre : K-POP<br>

<% else %>
genre : その他<br>

<% end %>


<!-- 登録日 -->
date : <%= @product.pro_date %><br>


<!-- レーベル名 -->
<% if @product.pro_label_id == 1 %>
label : エイベックス<br>

<% elsif @product.pro_label_id == 2 %>
label : ユニバーサル・ミュージック<br>

<% else %>
label : その他<br>

<% end %>


<!-- アーティスト名 -->
artist : <%= @product.pro_artist %><br><br>


<% if user_signed_in? %>

<%= link_to "カートへ入れる", cart_path(@cart) %><br>

<% else %>

<%= link_to "カートへ入れる", user_session_path %><br>

<% end %>

<%if user_signed_in? && current_user.manager == true %>
<%=link_to "商品情報を編集する", edit_pro_genre_product_path(@product.pro_genre_id, @product.id), class:"btn btn-success btn-xs" %>
<% end %>
