<!DOCTYPE html>
<html>
  <head>
    <title>MusicShare1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="container">
          <div class="nav navbar-left">
            <h2 class="btn btn-default btn-lg">
              <%= link_to "Music Share1", root_path %>
            </h2>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <p><%= flash.notice %></p>
            </li>
            <% if user_signed_in? && current_user.manager == false %>
              <li>
                <%= link_to current_user.name, user_path(current_user), class: "glyphicon glyphicon-user" %> <!-- @user.name => current_user.name に変更　-->
              </li>
              <li>
                <%= link_to "cart", cart_path(current_user.carts), class: "glyphicon glyphicon-shopping-cart carts" %> <!-- new_cart_path =>  cart_path(current_user.carts)に変更　-->
              </li>
              <li>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout" %>
              </li>
            <% elsif user_signed_in? && current_user.manager == true %>
              <li>
                <%= link_to "受注管理", purchases_path, class: "glyphicon" %>
              </li>
              <li>
                <%= link_to "商品管理", products_path, class: "glyphicon" %>
              </li>
              <li>
                <%= link_to "会員管理", users_path, class: "glyphicon" %>
              </li>
              <li>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout" %>
              </li>
            <% else %>
              <li>
                <%= link_to "ゲストさん", new_user_session_path, class: "glyphicon glyphicon-log-in sign_in" %>
              </li>
              <li>
                <%= link_to "cart", new_user_session_path, class: "glyphicon glyphicon-shopping-cart carts" %><!-- new_cart_path => new_user_session_path に変更　-->
              </li>
            <% end %>
          </ul>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
    </footer>
  </body>
</html>
